.btn-link a {
  text-decoration: none;
}

/* Fixing the datepicker display issue */

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
  padding-left: 0;
  padding-right: 0;
}

/* end of datepicker css */